#main
{
  max-width: 400px;
    margin: 80 auto;
}
#footer
{
    margin: 80 auto;
}

.btn-tog
{
	background-color: #F8F8F8;
}

.toggle
{
	background-color: #D7D7D7;
}
.btn
{
	margin: 10 auto;
}

#calc-form
{
	margin: 20 40;
}

.form-group
{
	margin: 10 auto;
}
.page-footer
{
    padding-top: 40px;
    padding-bottom: 40px;
    color: #767676;
    border-top: 1px solid #e5e5e5;
    text-align: center;
}

.page-footer p
{
    margin-bottom: 0;
}